@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
}

.first-section {
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
}

.first-p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    margin-bottom: 50px;
}

.first-section-button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px #3882F6; 
    border-radius: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color:  #1F2937;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.container-box {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.container-text {
    text-align: center;
    font-size: 18px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-section {
    background-color: lightgray;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    text-align: center;
}

.quote-person {
    font-size: 18px;
    font-weight: bolder;
}

#quote-person-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.fourth-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.left {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    color: white;
}

.fourth-p {
    color: white;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-four-button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border: 3px solid white; 
    border-radius: 10px;
    margin-right: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 75px;
}